# Pair Programming 31/05 Regresi√≥n log√≠stica I - Tatiana y Guada

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings( "ignore", module = "seaborn\..*" )
import sidetable
#import statsmodels.api as sm
import pylab as py
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder, StandardScaler
from sklearn.metrics import confusion_matrix,cohen_kappa_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_curve,roc_auc_score, classification_report
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import accuracy_score 
from sklearn.metrics import mean_absolute_error, accuracy_score

plt.rcParams["figure.facecolor"] = "w"

# Ejercicio 1
- Buscar un conjunto de datos a analizar: (Obviar si se reutiliza el conjunto de las clases anteriores)

Se recomienda que el conjunto de datos a analizar tenga variables num√©ricas y categ√≥ricas, primando que haya m√°s de una variable de tipo num√©rico. Ya que tambien se utilizar√°n ser√°n √∫tiles a la hora de realizar predicciones en las clases de regresi√≥n lineal m√∫ltiple. As√≠ mismo se recomienda que los datasets esten ligeramente limpios para facilidar los an√°lisis.

üë©üèªüë©üèª‚Äçü¶∞üí¨

Hemos elegido otro dataset, ya que el anterior no cumpl√≠a con los requisitos. La tem√°tica es sobre las tiendas de la p√°gina Etsy, plataforma de venta de artesania.

Aqu√≠ dejamos la descripci√≥n de cada una de las columnas:
- creation_date -> The date that the shop has been created in Etsy website.
- listing_active_count -> The number of active listing this shop has at the moment of capturing the data.
- num_favorers -> Number of people who follow this shop. 
- currency_code -> The ISO currency code for the seller's native currency. 
- is_shop_us_based -> Is this shop USA based?
- sale_message -> Does this shop have a sale message (message send to buyer upon a purchase)?
- sales_count -> Number of sales that the shop has made. 
- review_count -> Number of reviews that the shop has gained. 
- shop_location -> The location of the site (country, city).

In [4]:
df = pd.read_csv("etsy_shops_data.csv")
df.head()

,creation_date,listing_active_count,num_favorers,currency_code,is_shop_us_based,sale_message,sales_count,review_count,shop_location
0,19-Nov,3,1,USD,True,False,0,0,"Kansas City, Missouri"
1,19-Nov,13,1,AUD,False,False,2,0,None
2,19-Nov,0,0,USD,True,False,-99,-99,None
3,19-Nov,40,1,USD,False,False,0,0,"Kharkiv, Ukraine"
4,19-Nov,7,1,USD,True,False,0,0,"New York, United States"

# Ejercicio 2
- Explicar los datos y las variables disponibles en el conjunto de datos seleccionado: (Obviar si se reutiliza el conjunto de las clases anteriores)

Esto se hace para que comprendais mejor los datos con los que estais trabajando.

Realizar un EDA sencillo para la variable dependiente y la variable independiente.

In [5]:
df.describe()

       listing_active_count  num_favorers   sales_count  review_count
count          20000.000000  20000.000000  20000.000000  20000.000000
mean               7.335950      0.996800     -5.583750     -7.541550
std               24.582274      4.104148     38.041153     26.437608
min                0.000000      0.000000    -99.000000    -99.000000
25%                1.000000      0.000000      0.000000      0.000000
50%                2.000000      0.000000      0.000000      0.000000
75%                7.000000      1.000000      0.000000      0.000000
max             1749.000000    223.000000   2216.000000     58.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   creation_date         20000 non-null  object
 1   listing_active_count  20000 non-null  int64
 2   num_favorers          20000 non-null  int64
 3   currency_code         20000 non-null  object
 4   is_shop_us_based      20000 non-null  bool
 5   sale_message          20000 non-null  bool
 6   sales_count           20000 non-null  int64
 7   review_count          20000 non-null  int64
 8   shop_location         20000 non-null  object
dtypes: bool(2), int64(4), object(3)
memory usage: 1.1+ MB

In [7]:
df.isnull().sum()

creation_date           0
listing_active_count    0
num_favorers            0
currency_code           0
is_shop_us_based        0
sale_message            0
sales_count             0
review_count            0
shop_location           0
dtype: int64

# Ejercicio 3 
- Realiza el ajuste log√≠stico utilizando diversas m√©tricas y realiza una gr√°fica mostrando los resultados.

# Ejercicio 4
- Interpretaci√≥n de los resultados.

Ahora interpreta los resultados obtenidos del ajuste lineal simple y explica lo mejor posible la naturaleza de los mismos